
/* Centraliza o conteúdo principal */
.main-content {
  width: 80%;
  margin: auto;
}

/* Estiliza a barra de navegação */
.nav-bar {
  background-color: #99007f; /* roxo */
  padding: 10px 0;
}

/* Remove marcadores de lista e espaça os itens do menu uniformemente */
.nav-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Define a cor dos links do menu para branco */
.nav-menu-item a {
  color: #ffffff; /* branco */
  text-decoration: none;
}

/* Estiliza o botão de sair com fundo preto e texto branco */
.logout-button {
  background-color: #000000; /* preto */
  color: #ffffff; /* branco */
  border: none;
  padding: 5px 10px;
}