/* Centraliza o conteúdo principal */
.main-content {
  width: 100%;
  margin: auto;
}

/* Estiliza a barra de navegação */
.navbar {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(153,0,127,1) 35%, rgba(0,212,255,1) 100%);
  padding: 10px 0;
}

/* Remove marcadores de lista e espaça os itens do menu uniformemente */
.nav-menu {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Define a cor dos links do menu para branco */
.nav-menu-item a {
  color: #ffffff; /* branco */
  text-decoration: none;
}

.logout-button {
  background: rgb(2,0,36);
  background: transparent;
  border: none;
  border-radius: 15%;
  color: white; /* Cor do texto do botão */
  text-align: center;
  display: inline-block;
  font-size: 16px; /* Tamanho da fonte do botão */
  padding: 2px 24px; /* Espaçamento interno do botão */
  transition-duration: 0.4s; /* Duração da transição ao passar o mouse sobre o botão */
  cursor: pointer; /* Muda o cursor para um ponteiro ao passar o mouse sobre o botão */
}

.logout-button:hover {
color: black;
cursor: pointer;
}
